.control-panel {
    position: absolute;
    top: 1rem;
    left: calc(100% - 15rem - 50%);
    width: calc(100% - 15rem - 50%);
    background-color: var(--main-color);
    height: 2.5rem;
    border-radius: .8rem;
    z-index: 100;
    display: flex;
    align-items: center;
}