.top-resizer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    cursor: ns-resize;
}

.right-resizer {
    position: absolute;
    right: 0;
    width: 3px;
    height: 100%;
    cursor: ew-resize;
}

.bottom-resizer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    cursor: ns-resize;
}

.left-resizer {
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    cursor: ew-resize;
}